
@{
    ViewBag.Title = "LessonList";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>Ders Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ders Adı</th>
        <th>Akademisyen</th>
        <th>Kontenjan</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Nesne Yönelimli Programlama</td>
        <td>Ali Yıldırım</td>
        <td>80</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Yapay Zeka</td>
        <td>Pınar Kayalı</td>
        <td>50</td>
    </tr>

</table>

